<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://parroquialalaguna.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>parroquialalaguna.com</MSDeployServiceURL>
    <DeployIisAppPath>parroquialalaguna.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>parroqui</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Coneccion_General" Order="1" Enabled="False">
          <Destination Path="Data Source=(local)\MSSQLSERVER2012;Initial Catalog=parroqui_lalaguna;User ID=parroqui_asoler;Password=Felipe2304" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=parroqui_lalaguna;User ID=parroqui_asoler;Password=Felipe2304" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Coneccion_General_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=asael.colombiahosting.com.co\MSSQLSERVER2012;Initial Catalog=parroqui_lalaguna;User ID=parroqui_asoler;Password=Felipe2304" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Coneccion_General-Web.config Connection String">
      <ParameterValue>Data Source=(local)\MSSQLSERVER2012;Initial Catalog=parroqui_lalaguna;User ID=parroqui_asoler;Password=Felipe2304</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>